<html>
        <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>TeachMe</title>
        <link href="https://fonts.googleapis.com/css?family=Graduate|Montserrat:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <%= stylesheet_link_tag    "main", media: "all", "data-turbolinks-track" => true %>
    </head>

<body>
<%= render 'layouts/header' %>

<div class="container">


    <div class="row">
     <div class="col-md-6">

    <h6 style="font-size:20px"> Search Courses <h6>

    <%= render "search/searchbar" %>
    </div>

    <div class="col-md-6">
    <b> Active Requests:  </b>
    </br>
    <% @requests.each do |request| %>
    <% if request.expiration.future? && request.accepted_by == nil %>

<!--      <div class="thumbnail" style="width:200px;background-color: rgb(221,160,221);">
 -->
<!--      <%= link_to "Edit", edit_request_path(request.id), :class=> "btn btn-primary" %> 
 -->

        <div class="well">
            <div class = "row">
                <%= link_to Course.find_by_id(request.course).name + ": " + request.description, edit_request_path(request.id) %> 
        </div>

        <div style="margin-top:10px"><%= link_to "Delete", request_path(request.id), :method=> :delete, :class=> "btn btn-danger", :data => {:confirm => 'Are you sure you want to delete this request??'} %> </div>
        </div>
        <% end %>
    <% end %>
    </br>
    </div>
    <br>
    </div>
    <h4>Starred Courses</h4>
    <div class="list-group starred-courses">
        <% @user.starred.each do |course| %>
            <a class="list-group-item container" href="/courses/<%= course.to_i %>">
                <div class="col-md-6">
                  <%= Course.find_by_id(course.to_i).full_title %>
                </div>
                <div class="col-md-6">
                  <span>Tutors: <%= Request.where({course: course.to_i, need_help: false, accepted_by: nil}).where("expiration >= ?", Time.now).count %> | Tutorees: <%= Request.where({course: course.to_i, need_help: true, accepted_by: nil}).where("expiration >= ?", Time.now).count %> </span>
                </div>
            </a>
            <!-- <%= link_to "Unstar Course!", :controller => "courses", :action => "unstar", :course => course, :user => @user %> -->
        <% end %>
    </div>
<h4> Feedbacks </h4>

<div class="row">
<div class="col-md-6">
<h6 style="font-size:15px;"> Pending Feedbacks for Tutors </h6>
<% Feedback.where(tutoree: @user.id).find_each do |feedback| %>
<% if feedback.comments == nil %>

    <%= link_to User.find_by(id:feedback.tutor).name, edit_feedback_path(feedback.id), { :class=>"thumbnail", :style=>"width:200px;height:50px;background-color: rgb(238,232,170);" } %>


<% end %>
<% end %>
</div>
<div class="col-md-6">
<h6 style="font-size:15px;"> People Yet to Give You Feedback </h5>
<% Feedback.where(tutor: @user.id).find_each do |feedback| %>
<% if feedback.comments == nil %>
    <div class="thumbnail" style="width:200px;height:50px;background-color: rgb(255,182,193);"> <%= User.find_by(id:feedback.tutoree).name %> </div>

<% end %>
<% end %>
</div>
</div>
</div>
</body>
</html>
