<html>
		<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>TeachMe</title>
		<link href="https://fonts.googleapis.com/css?family=Graduate|Montserrat:400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    	<%= stylesheet_link_tag    "main", media: "all", "data-turbolinks-track" => true %>
		<link rel="stylesheet" href="style.css">
	</head>

<body>
<%= render 'layouts/header' %>
<h5>Name: <strong><%= @user.name %></strong></h5>
<h5>Major: <strong><%= @user.major %></strong></h5>
<h5>Karma: <strong><%= @user.karma %></strong></h5>
<h5>Study Spot: <strong><%= @user.study_spot %></strong></h5>

<%= render "search/searchbar" %>
<br>
<%= form_tag '/search_course', :method => 'get' do %>
    <p>
        <%= select_tag :course, options_from_collection_for_select(Course.order(:full_title),:id,:full_title), include_blank: true %>
        <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<br>
<% @user.starred.each do |course| %>
<%= link_to Course.find_by_id(course.to_i).name, course_requests_path(course.to_i)%> <%= link_to "Unstar Course!", :controller => "courses", :action => "unstar", :course => course, :user => @user %>
<br>
<% end %>
<h5> Pending Feedbacks for Tutors </h5>
<% Feedback.where(tutoree: @user.id).find_each do |feedback| %>
Tutor Name: <%= User.find_by(id:feedback.tutor).name %>
<% end %>
<h5> Pending Feedbacks for People You Tutored </h5>
<% Feedback.where(tutor: @user.id).find_each do |feedback| %>
Tutor Name: <%= User.find_by(id:feedback.tutoree).name %>
<% end %>

<p>Find me in app/views/main/dashboard.html.erb</p>
</body>
</html>
