<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>TeachMe</title>
		<link href="https://fonts.googleapis.com/css?family=Graduate|Montserrat:400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="style.css">		
	</head>
	
	<body>
		<div id="banner">
		<%= bootstrap_form_for(@user) do |f| %>
		  <%= f.text_field :name %>
		  <%= f.email_field :email, readonly: true %>
		  <%= f.text_field :major, :required => true %>
		  <%= f.number_field :year, :required => true %>
		  <%= f.text_field :study_spot %>

		  <%= f.submit "Edit User",class: "btn btn-success" %>
		<% end %>
		<br>
		<br>
		
		
		<!-- jQuery & Bootstrap javascript files -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	</body>