<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      Hello <%=User.find_by_id(@request.user).name%>! Your request to tutor someone in the course <%= Course.find_by_id(@request.course).name%> has been accepted!
      In your request, you said you wanted to tutor in the following topics: <%= @request.topics%>
    </p>
    <p>
      The person who accepted your request would like to be tutored in <%= @accepted_location %> and would like to say the following as well: <br> <%= @info %> <br>

      If you wish to accept this request, please confirm at the link: <%= @confirmURL %> </p>
    <p>
      Once confirmed, both parties will receive an email containing the contact information of one another.
      Don't forget to request a rating for the session and some feedback when you two are done!
      Have fun and happy teaching! If you have any questions, feel free to reply to this email.
    </p>
    <p>Best, <br> TeachMe</p>
  </body>
</html>
