
  	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>TeachMe</title>
		<link href="https://fonts.googleapis.com/css?family=Graduate|Montserrat:400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="style.css">		
    <%= stylesheet_link_tag    "main", media: "all", "data-turbolinks-track" => true %>

	</head>
<%= render 'layouts/header' %>
<div class="container">
      
    <div class="panel panel-info">
      <div class="panel-heading">Edit Request</div>
      <div class="panel-body">
<%= bootstrap_form_for(@request) do |f| %>

  <%= f.select :need_help, [['Looking to be Tutored', true], ['Looking to Tutor Others', false]], :required => true %>
	<%= f.collection_select :course, Course.order(:name),:id,:name, include_blank: true %>
  <%= f.text_area :description, :required => true %>
<%= f.text_field :topics, :required => true %>
  <%= f.select :duration, [['30 minutes', 30], ['1 hour', 60], ['1.5 hours', 90], ['2 hours', 120], ['2.5 hours', 150], ['3 hours', 180],['3.5 hours', 210], ['4 hours', 240]], :required => true %>
  <%= f.text_field :location, :required => true %>

  <%= f.submit "Edit Request",class: "btn btn-success" %>
<% end %>
 </div>
    </div>
    </div>
  </div>