<html>

  <script>
    $(function() {
        $( "#course-search-txt" ).autocomplete({
          source: "/search",
          appendTo: '#course-search-results',
          messages: {
              noResults: '',
              results: function() {}
          },
          select: $.proxy(function(e, ui) {
               $("#course-search-txt").val(ui.item.full_title);
               return false;
             }, this)
        }).autocomplete('instance')._renderItem = $.proxy(function(ul, item) {
            var markup = [
              '<span class="title">' + item['full_title'] + '</span>'
            ];
            return $('<li>')
              .append(markup.join(''))
              .appendTo(ul);
          }, this);
    });
  </script>
  <%= render 'layouts/header' %>

  <div class="container">
  <div class="panel panel-info">
  <div class="panel-heading">Tutoring Request</div>
  <div class="panel-body">
    <%= bootstrap_form_for(@request, :method => :POST) do |f| %>
    <%= f.select :need_help, [['Looking to be Tutored', true], ['Looking to Tutor Others', false]], :required => true %>
        <!-- <%= f.collection_select :course, Course.order(:name),:id,:name, include_blank: true %> -->
        <%= f.text_field :course, :required => true, :id => "course-search-txt"%>
        <!-- <input type="text" id="course-search-txt" name="course" autofocus> -->
        <div class="course-search"> 
        <div class="results" id="course-search-results"></div>
        </div>
        <%= f.text_area :description, :required => true %>
        <%= f.text_field :topics, :required => true %>
        <%= f.time_select :start_time, { minute_step: 15, include_blank: true, ampm: true, order: [:hour, :minute] }, {style:"width:25%; display:inline" }  %>
        <%= f.time_select :end_time, { minute_step: 15, include_blank: true, ampm: true, order: [:hour, :minute] }, {style:"width:25%; display:inline" }  %>

<!--         <%= f.time_select :end_time, { minute_step: 15, include_blank: true, ampm: true, order: [:hour, :minute] }, {style:"width:25%; display:inline" }  %>
 -->
        <%= f.text_field :location, :required => true %>
        <%= f.submit "Create Request",class: "btn btn-success" %>
      <% end %>
  </div>
</div>
</div>

</html>
