
<html>

    <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>TeachMe</title>
    <link href="https://fonts.googleapis.com/css?family=Graduate|Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
      <%= stylesheet_link_tag    "main", media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="style.css">    
  </head>
<%= render 'layouts/header' %>
<body>
<%= render 'search/searchbar' %>
<h5>Listing Courses</h5>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>

        <td><%=course.department %><%=course.course_no%> <%= course.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</body>
</html>
