
<body>
<nav class='navbar navbar-default' role='navigation'>
<div class='container-fluid'>
<!-- Brand and toggle get grouped for better mobile display -->
<div class='navbar-header'>
<button class='navbar-toggle' data-target='#bs-example-navbar-collapse-1' data-toggle='collapse' type='button'>
<span class='sr-only'>Toggle navigation</span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
</button>

<div class='header'>
<a class='navbar-brand' href='/' style="margin-bottom:10px">
<img alt="tommy pic" id="logo" src="/logo2.png" width="35" height="35"/>
</a>
<h4 style="margin-top:15px"> TeachMe </h4>
</div>
</div>

<div class='form-group col-xs-4'>

</div>
</form>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
<ul class='nav navbar-nav'>
<!-- <li><haml_loud> link_to &quot;Discussions&quot;, discussions_path </haml_loud></li> -->
</ul>
<ul class='nav navbar-nav navbar-right'>
<% if current_user %>
<li> <a href="/courses"> Courses </a> </li>
<li> <a href="/users/my_profile"> Profile </a> </li>
<li> <a href="/requests"> View Requests </a> </li>
<li> <a href="/requests/new"> Create Request </a> </li>

<!-- <li>
<div class="dropdown" style="margin-top:15px">
  <a data-toggle="dropdown"><%= current_user.name %>
  <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/courses">Courses</a></li>
    <li><a href="/users/my_profile">Profile</a></li>
    <li><a href="/requests">Requests</a></li>
    <li><a href="/requests/new">Create Request</a></li>


  </ul>
</div>
</li> -->
<!-- <li
<a class="navbar-link"><%= current_user.email %></a>
</li> -->

<li> <%= link_to "Sign out", signout_path, id: "sign_out" %>

</li>
<% else %>
<li>
<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
</li>

<% end %>
</ul>
</div>
<!-- /.navbar-collapse -->
</div>

<!-- /.container-fluid -->
</nav>
<% if notice != nil %>
<div class="flash-alert alert alert-success" style="margin-top:-2%;" >
  <%= notice %>
</div>
<% end %>
</body>


